NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBdSxV5eCQycG4QoLU3yoqnqirGmSdKG-Y
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=visa-licences.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=visa-licences
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=visa-licences.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=681253531486
NEXT_PUBLIC_FIREBASE_APP_ID=1:681253531486:web:e9ae0ad47b638e29afe9cf